@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Noto Kufi Arabic", sans-serif !important;
}
a {
  text-decoration: none !important;
}
header {
  -webkit-box-shadow: linear-gradient(
    0deg,
    rgba(251, 33, 117, 1) 0%,
    rgba(234, 76, 137, 1) 100%
  );
  box-shadow: linear-gradient(
    0deg,
    rgba(251, 33, 117, 1) 0%,
    rgba(234, 76, 137, 1) 100%
  );
}
.icon {
  height: 65px;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    0deg,
    rgba(251, 33, 117, 1) 0%,
    rgba(234, 76, 137, 1) 100%
  );
  border-radius: 12px;
}
.container {
  padding: 0 !important;
  overflow: hidden;
}

.custom-btn {
  width: 140px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-11 {
  border: none;
  background: rgb(251, 33, 117);
  background: linear-gradient(
    0deg,
    rgba(251, 33, 117, 1) 0%,
    rgba(234, 76, 137, 1) 100%
  );
  color: #fff;
  overflow: hidden;
  border-radius: 50px;
}

.btn-11:hover {
  text-decoration: none;
  color: #fff;
}

.btn-11:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 3s ease-in-out infinite;
}

.btn-11:hover {
  opacity: 0.7;
}

.btn-11:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}
.contact {
  -webkit-box-shadow: 0px 1px 0px 0 rgb(0 0 0 / 22%);
  box-shadow: 0px 1px 0px 0 rgb(0 0 0 / 22%);
  height: 80vh;
}
.img {
  height: 75vh;
  margin-top: -135px;
}
@media (max-width: 770px) {
  .img {
    height: 50vh;
    margin: 0 !important;
  }
}
h3 {
  margin: 30px !important;
}
ul {
  text-align: start;
  padding: 0 30px 0 0 !important;
  font-size: 14px;
}
ul img {
  height: 60px;
  border-radius: 50px;
}
li {
  line-height: 2;
}
.first {
  list-style-type: none;
  font-weight: 700;
  margin-right: -10px;
}
.tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.tabs li {
  padding: 3px;
  /* background-color: #f6f4f4; */
  border-right: 1px solid white;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
/* .tabs li:hover,
  .tabs li.active {
    background-color: #ddd;
  }
  .contact {
    background-color: #ddd;
  } */
/* .contact > div {
    padding: 20px;
  } */
.contact1 > div:not(:first-child) {
  display: none;
}
.contact1 img {
  width: 300px;
}
.my-btn {
  font-size: 30px;
  width: 341px;
  height: 65px;
}
video {
  width: 75% !important ;
}
@media (max-width: 992px) {
  .fin {
    flex-direction: column-reverse;
    align-content: center;
    align-items: center;
  }
  ul img {
    height: 30px;
  }
  video {
    width: 50% !important ;
  }
}
/* @media (max-width: 613px) {
} */
